@import 'base/reset';
@import 'components/button';
@import 'components/sidebar';

.main-app{
    // display: flex;
    // main{
    //     flex: 1;
    // }
}

.arduino-status{
    display: flex;
    justify-content: space-between;
    background: #02163a;
    padding: 12px 15px;
    color: #fff;
    margin: 10px;
    font-size: 18px;
    border-radius: 6px;

}

.led-off {
    background-color: red;
    box-shadow: 0 -1px 7px 1px rgba(248,10,10,.651), inset 0 -1px 9px #7a2504, 0 2px 12px #df3427;
}
.led-green, .led-off {
    border-radius: 50%;
    height: 24px;
    margin: 0 auto;
    width: 24px;

}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.mr-10{
    margin-right: 10px;
}
.br-6{
    border-radius: 6;
}

















@import 'abstracts/variable';
@import 'base/reset';
@import 'base/scrollbar';


.led-container{
    margin: 0px 0px 20px 0px;
}
.led-green {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #00ff40;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
        #89ff00 0 2px 12px;
}
.led-off{
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #ff0000;
    border-radius: 50%;
    box-shadow: rgba(248, 10, 10, 0.651) 0 -1px 7px 1px, inset #7a2504 0 -1px 9px,
        #df3427 0 2px 12px;
}
.link{
    width: 100%;
    padding: 15px 10px;
    margin: 0px 5px;
    border-radius: 7px;
    display: flex;
    place-items: center;
    color: white;
    span{
        margin: 0px 10px;
    }
}
.active-link{
    background: #00295e;
}
// Coming soon
.coming-soon{
    position: absolute;
    background: #3a456d;
    background: rgb(1, 26, 34);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
// Board Status
.arduino-status{
    display: flex;
    justify-content: space-between;
    place-items: center;
    background: $secondary-color;
    padding: 20px 0px;
    margin: 0px 10px;
    border-radius: 7px;
}
.arduino-status_title{
    h2{
        color: #fff;
        margin: 0px 10px;
    }
}
.arduino-status_status{
    display: flex;
    place-items: center;
    p{
        font-size: 20px;
        color: #fff;
    }
    div{
        margin: 0px 20px;
    }
}

.dashboard{
    padding: 0;
    margin: 0;
    background: #3a456d;
    padding: 10px 0px 10px 0px;
}
.button_containers{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    border-radius: 7px;
    background: $secondary-color;
    padding: 10px 10px;
    margin: 15px 10px;
    text-align: center;
}
.button_containerss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // overflow-x: auto;
    border-radius: 7px;
    background: $secondary-color;
    padding: 50px 10px;
    margin: 15px 10px;
    max-width: 700px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
    // margin-left: 5px;
    // margin-right: 5px;
}
.third{
    width:33%;
}

.chart_container{
    background: $secondary-color;
    padding: 10px;
    border-radius: 7px;
    margin: 15px 10px;
}
.meter{
    transform: rotate(-90deg);
}
.meters{
    display: flex;
    background: $secondary-color;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: auto;
    padding: 10px 10px;
    margin: 15px 10px;
    border-radius: 7px;
}
// Arduino page
.arduino-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;


}
.relay{
    display: flex;
    justify-content: space-around;
    background-color: #00295e;
    color: white;
    width: 1000px;
    margin: auto;
    padding: 30px 10px;
    border-radius: 7px;
}
.switch_container{
    display: grid;
    p{
        margin-top: 10px;
    }
}
.arduino_header{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
}
.led{
    width: 200px;
    display: grid;
    place-items: center;
    background: $secondary-color;
    margin: 20px 0px;
    border-radius: 7px;
    padding: 20px;
    p{
        margin-top: 20px;
        color: #fff;
    }
}
.buzzer{
    width: 200px;
    display: grid;
    place-items: center;
    background: $secondary-color;
    margin: 20px 0px;
    border-radius: 7px;
    padding: 20px;
    p{
        margin-top: 10px;
        color: #fff;
    }
}
.sensors{
    display: flex;
    justify-content: space-around;
    background: $secondary-color;
    padding: 20px;
    margin: 50px;
    width: 90%;
    color: #ffffff;
}

// Profile

.profile-details{
    width: 80%;
    margin: auto;
    background-color: #00295e;
    border-radius: 7px;
    padding: 10px 20px;
    color: #ffffff;
    margin-top: 70px;
    p{
        margin: 10px 0px;
    }
}
.user-details-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
// About
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    color: #ffffff;
}
.card{
    width: 300px;
    height: 450px;
    background: #262D47;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}
.card-profile{
    position: relative;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-top: 20px;
}
.card-description{
    margin-top: 10px;
    a{
        color: #ffffff;
        text-decoration: none;
    }
    .card-title{
        text-align: center;
        font-weight: 700;
        font-size: 25px;
    }
    .card-icon{
        display: grid;
        justify-content: center;
        place-items: center;
        font-size: 100px;
        background-color: rgb(2, 37, 66);
        width: 90%;
        margin: auto;
        margin-top: 20px;
        padding: 20px 0px;
        border-radius: 5px;
        color: #fff;
        a{
            margin-left: 20px;
            font-size: 20px;
            margin-top: 20px;
        }
    }
}

// Description Page
.center{
    text-align: center;
}
.description-page{
    color: #ffffff;
}

.title_1{

}
.title_2{

}
.title_3{

}
.title_4{

}
.link-title{
    display: inline;
    font-size: 23px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
    color: #43ffef;
}
.text{
    text-align: justify;
    margin: 10px;
}
.section{
    margin-left: 20px;
    display: flex;
}
.text-container{

}
.image-container{
    width: 200px;
    height: 100px;
    margin: 10px;
    display: grid;
    img{
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
// Weather page
.weather-template{
    background: #8b8b8b80;
    background: hsla(0,0%,100%,.1);
    padding: 10px;
    border-radius: 3px;
    // border: 1px solid #e7e7e7;
    max-width: 600px;
    width: 590px;
    margin: auto;
    margin-top: 20px;
    color:#ffffff;
}
.title{
    font-size: 25px;
    font-weight: 600;
}
.big-text{
    font-size: 60px;
    font-weight: 700;
}
.caption{

}
.weather-template-details{
    width: 300px;
}
.paragrpah{
    font-size: 20px;
    margin-top: 5px;
}
@media only screen and (max-width:1076px){
    .button_containers{
        justify-content: flex-start;
    }
    .meters{
        overflow-x: auto;
    }
}
@media only screen and (max-width:500px){
    .weather-template{
        max-width: 400px;
        width: 95%;
    }
    .weather-template-details{
        width: 180px;
    }
    .paragrpah{
        font-size: 16px;
        margin-top: 5px;
    }
    .title{
        font-size: 22px;
        font-weight: 600;
    }
    .big-text{
        font-size: 40px;
        font-weight: 700;
    }
}

.sdf{
    background: #8a04f8a9;
}