@import '../../../sass/abstracts/variable';

.switch_button_wrapper{
    background-color: rgb(80, 80, 80);
    background: $secondary-color;
    display: grid;
    place-items: center;
    position: relative;
    padding: 10px 30px;
    button{
        svg{
            width: 23px;
            height: 23px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border: 0;
        border-radius: 50%;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(250, 250, 250, 0.1);
        font-size: 32pt;
        position: relative;
        text-decoration: none;
        background-color: rgba(19, 46, 73, 0.536);
        cursor: pointer;
        
    }
    button:active {
        background-color: rgb(92, 94, 97); 
        color: #fff;
    }
    .button{
        color: rgb(37, 37, 37);
        box-shadow: 0px 3px 0px 0px rgb(34, 34, 34),
        0px 7px 10px 0px rgb(17, 17, 17),
        inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
        inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
        color: #ffffff;
    
    }
    .button-on {
        text-shadow: 0px 1px 1px rgba(250, 250, 250, 0.1);
        font-size: 32pt;
        position: relative;
        text-decoration: none;
        background-color: rgb(83, 87, 93);
        box-shadow: 0px 3px 0px 0px rgb(124, 124, 124),
            0px 7px 10px 0px rgb(156, 151, 151),
            inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
            inset 0px -12px 35px 0px rgba(255, 255, 255, 0.5);
        // color: #d83737;
        color: #ffffff;

    
    }
    .icon_button {
        color: white;
        font-weight: 700;
        font-size: 24px;
    }
    .icon_button2{
        color: rgb(196, 189, 189);
        font-weight: 700;
        font-size: 24px;
    }
    .button_text2{
        color: #c4bfbf;
        margin: 15px 0px 0px 0px;
        text-shadow: 0px 1px 1px rgba(8, 8, 8, 0.836);
    }
    .button_text {
        color: #ffffff;
        margin: 15px 0px 0px 0px;
        text-shadow: 0px 1px 1px rgba(219, 219, 219, 0.836);
    }
    .button:before {
        content: "";
        width: 80px;
        height: 80px;
        display: block;
        z-index: -2;
        position: absolute;
        background-color: rgb(26, 27, 29);
        left: -5px;
        top: -2px;
        border-radius: 40px;
        box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1),
            inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    }
}